.section__plan{  
    margin: 20px 20px 20px 20px;  
   background-image:   url("../images/pisok.png");  
   background-repeat: no-repeat; 
   background-size:100% 100%; 
   background-position:  center; 
   background-color: #0A775F; 
   }
   .section__plan__content{  
   padding: 160px 0px 80px 0px;
   background-image: url("../images/Group-3633.png"); 
   background-repeat: no-repeat; 
   background-position: calc(0% + 40px) calc(0% + 100px ); 
   background-size: 966px 60px ;
   } 
   
    
   
   
   .section__plan__list{  
    margin-left: 40px;
    list-style: none; 
    padding: 0px; 
    display: flex; 
    align-items: center;   
    margin-bottom: 60px; 
 
   
   } 
   .section__plan__item{ 
   width: 433px; 
   height: 446px;   
   background-color: #F8F8F2; 
   padding: 20px 20px 40px 20px;
    margin-right: 20px;
   }  
   .section__plan__item_activ{ 
    margin-right: 0;

    }
   .section__plan__nabir{ 
   display: inline-block;
   font-weight: 400;
   font-size: 64px;
   line-height: 75px;
   font-variant: small-caps;
   color: #333333; 
   margin-left: 330px; 
   margin-bottom:45px ;
   } 
   .section__plan__items{  
       margin-bottom: 10px;
       font-weight: 500;
       font-size: 40px;
       line-height: 47px;
       font-variant: small-caps;
       color: #333333;
   } 
   .section__plan__text{ 
    width: 385px;
   } 
   .section__plan__slogan{ 
       
       font-weight: 400;
       font-size: 18px;
       line-height: 28px;
       color: #333333;
   }  
  